@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

video{
  position:relative;
  display:block;
  width:100%; 
}
.float-right{
  position:absolute;
  top: 0px;
  left: 500px;
  color: orange;
  font-weight: 800;
  border: solid 2px rgb(23, 244, 89);
  padding: 1px 5px 10px 10px;
}

a{
  top:150px;
  left:150px;
}

.box{border: dotted 5px rgb(250, 77, 9); margin: 20%;
  bottom: auto;
  margin-bottom: auto;
}

#footer1{
  color: orange;
  text-align: center;
}

#footer2{
  color:gold;
  text-align: center;
}
@media (max-width: 1104px) {
  .intro1{
    font-size:12px;
    margin-top: 50px;
    margin-left: 10px;
    color: rgb(24, 120, 231);;
    font-weight: 600;
  }

  .text{
  font-size:35px;
  margin-top:30px;
  color: red;;
  font-weight: 600;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}
}
@media (max-width: 991px) {
  .intro1{
    font-size:12px;
    margin-top: 50px;
    margin-left: 10px;
    color: rgb(24, 120, 231);;
    font-weight: 600;
  }

  .text{
  font-size:35px;
  margin-top:10px;
  color: red;;
  font-weight: 600;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}
}
@media (max-width: 947px){
  .intro1{
    font-size:12px;
    margin-top: 50px;
    margin-left: 10px;
    color: rgb(24, 120, 231);;
    font-weight: 600;
  }

  .text{
  font-size:35px;
  margin-top:10px;
  color: red;;
  font-weight: 600;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}
}
@media (max-width: 690px) {
  .intro1{
    font-size:12px;
    margin-top: 50px;
    margin-left: 10px;
    color: rgb(24, 120, 231);;
    font-weight: 600;
  }

  .text{
  font-size:35px;
  margin-top:10px;
  color: red;;
  font-weight: 600;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}
}
@media (max-width: 500px) {
  .intro1{
    font-size:12px;
    margin-top: 50px;
    margin-left: 10px;
    color: rgb(24, 120, 231);;
    font-weight: 600;
  }

  .text{
    font-size:35px;
    margin-top:10px;
    color: red;;
    font-weight: 600;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
  } 
}
@media screen and (min-width:601px){

  .intro1{
    font-size: 26px;
    margin-left: 20px;
    margin-top: 140px;
    color: rgb(24, 120, 231);;
    font-weight: 600;
  }
  
  .text{
    font-size:70px;
    margin-top:5px;
    color: red;;
    font-weight: 600;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
  }
  .float-right{
    position:absolute;
    margin-top: 600px;
  
  }
  .float-right{
    position:absolute;
    top: 0px;
    left: 500px;
    color: orange;
    font-weight: 800;
    border: solid 2px rgb(23, 244, 89);
    padding: 1px 5px 10px 10px
  }
  #resume{
    margin-left: 90px;  
    background-color: crimson;
    border-color: green;
    border-radius: 10px;
  }
}
  @media screen and (max-width:600px){
    .intro1{
      font-size:12px;
      margin-top: 50px;
      margin-left: 10px;
      color: rgb(24, 120, 231);;
      font-weight: 600;
    }

    .text{
      font-size:35px;
      margin-top:10px;
      color: red;;
      font-weight: 600;
      background-size: cover;
      background-attachment: fixed;
      font-family: 'Ubuntu', sans-serif;
    }
  
    #resume{
      margin-left: 90px;  
      background-color: crimson;
      border-color: green;
      border-radius: 10px;
    }
}

@media screen and (max-width:300px){

  .intro1{
    font-size:12px;
    margin-top: 70px;
    margin-left: 10px;
    color: rgb(24, 120, 231);;
    font-weight: 600;
  }

  .text{
  font-size:35px;
  margin-top:10px;
  color: red;;
  font-weight: 600;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}
}

@media screen and (max-width:100px){

  .intro1{
    font-size:12px;
    margin-top: 70px;
    margin-left: 10px;
    color: rgb(24, 120, 231);;
    font-weight: 600;
  }

  .text{
  font-size:35px;
  margin-top:10px;
  color: red;;
  font-weight: 600;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}
}

  #image{
    margin-top: 50px;
  }
  .random{
    font-size:50px;
    background-color: black;
    color: white;
    display:block;
    text-align:center;
    line-height:100px;
    height:100px;
    margin-top:40vh;
    text-transform:uppercase;
    letter-spacing:4px;
  }


#resume{
  margin-left: 90px;  
  background-color: crimson;
  border-color: green;
  border-radius: 10px;
}