@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/*
h1{
    font-size: 24px;
  }
  
@media (max-width: 600px) {
    h1 {
        font-size: 18px;
    }
}

body {
    font-size: 16px;
    margin: 0;
  }
  
@media (min-width: 800px) {
    body {
      font-size: 18px;
    }
  }
  */
/*Default layout for all the screens*/
#image{
    margin-top: 50px;
    width:80%;
}

.random{
    font-size:50px;
    background-color: black;
    color: white;
    display:block;
    text-align:center;
    line-height:100px;
    height:100px;
    margin-top:40vh;
    text-transform:uppercase;
    letter-spacing:4px;
}

.intro1{
    font-size: 26px;
    margin-left: 20px;
    margin-top: 140px;
    color: rgb(24, 120, 231);;
    font-weight: 600;
}

h2{
  width: 350px;
}

.text{
    font-size:70px;
    margin-top:5px;
    color: red;;
    font-weight: 600;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

#resume{
    margin-left: 90px;  
    background-color: crimson;
    border-color: green;
    border-radius: 10px;
}
/*Change the layout if screen size is bigger than 601*/
@media screen and (min-width:801px){
    .intro1{
        font-size: 26px;
        margin-left: 20px;
        margin-top: 140px;
        color: rgb(24, 120, 231);;
        font-weight: 600;
    }

    h2{
      width: 350px;
    }
    
    .text{
        font-size:70px;
        margin-top:5px;
        color: red;;
        font-weight: 600;
        background-size: cover;
        background-attachment: fixed;
        font-family: 'Ubuntu', sans-serif;
    }

    #resume{
        margin-left: 90px;  
        background-color: crimson;
        border-color: green;
        border-radius: 10px;
    }

    #image{
        margin-top: 50px;
    }
    
    .random{
        font-size:50px;
        background-color: black;
        color: white;
        display:block;
        text-align:center;
        line-height:100px;
        height:100px;
        margin-top:40vh;
        text-transform:uppercase;
        letter-spacing:4px;
    }
}
  /*layout change if size is 600 or less*/
@media screen and (max-width:600px){
    .intro1{
        font-size:22px;
        margin-top: 50px;
        margin-left: 120px;
        color: rgb(24, 120, 231);;
        font-weight: 600;
    }

    .text{
        font-size:45px;
        margin-top:10px;
        margin-left:125px;
        color: red;;
        font-weight: 600;
        font-family: 'Ubuntu', sans-serif;
    }

    #resume{
        margin-left: 180px;
        margin-top: 30px;
        font-size: 15px;
        background-color: crimson;
        border-color: green;
        border-radius: 10px;
    }

    .random{
      font-size:50px;
      background-color: black;
      color: white;
      display:block;
      text-align:center;
      line-height:75px;
      height:70px;
      margin-top:40px;
      text-transform:uppercase;
      letter-spacing:4px;
    }
    
    #image{
      margin-top: 50px;
      width: 100%;
      height: 250px;
    }

    video{
      margin-top: -3%;
      position:relative;
      display:block;
      width:100%; 
      height: 500%;
    }
    
}

/*
.social{
  background-color: whitesmoke;
  width: 100%;
  font-size: 1.5em;
  text-align: center;
}

.social a {
  display:inline-block;
  color: black;
  font-size: 18px;
  text-align: center;
  padding: 10px 30px;
  text-decoration: none
}

.social a:hover {
  color: green;
}

#footer1{
  color: orange;
  text-align: center;
}
  
#footer2{
  color:gold;
  text-align: center;
}
*/

.footer {
  background-color: black; /* dark background color */
  color: #9d9d9d; /* light text color */
  font-family: monospace; /* hacker-style font */
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between; /* align center */
}

.footer-left, .footer-center, .footer-right {
  width: 100%;
  text-align: center;
}

.footer-center ul {
  list-style-type: none;
}

.footer-right ul {
  list-style-type: none;
  display: flex;
  justify-content: center; /* align center */
}

.footer-right li {
  margin: 0 10px; /* add some space between links */
}

.footer a {
  color: #9d9d9d; /* light text color */
  text-decoration: none;
}

.footer a:hover {
  color: #fff; /* change text color on hover */
}

/* Media Queries */
@media (max-width: 768px) {
  .footer-container {
    flex-wrap: wrap;
  }
  .footer-left, .footer-center, .footer-right {
    width: 100%;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: black;
  text-decoration: none;
  font-family: monospace;
}
.navbar a {
  color: white;
  font-size: 20px;
  font-weight: 700px;
  text-decoration: none;
  margin-right:20px;
  padding: 10px;
}

.navbar a:hover {
  background-color: #00ff00; /* change this color as you like */
  color: black;
  text-decoration: none;
}

.navbar .menu-btn {
  display: none;
}

@media (max-width: 600px) {
  /* Change link display to block for mobile view */
  .navbar a {
    display: block;
    margin: 10px 0;
    font-size: 15px;
    padding: 6px;
    text-decoration: none;
  }

  /* Show hamburger menu button */
  .navbar .menu-btn {
    display: block;
    font-size: 30px;
    cursor: pointer;
  }

  /* Hide links by default */
  .navbar .links {
    text-decoration: none;
    display: none;
  }
}
.card1{
  color: red;
}
.card1-title{
  color: red;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.card {
  background-color: black; 
  font-family: monospace;
  top: 20px;
  box-shadow: 1px 2px 3px 4px #006eff;
  border-radius: 10px;
}

.card-title {
  color: white;
  text-align: center;
}
.card-body{
  background-color: black;
  box-shadow: 1px 2px 3px 4px #00ff00;
  border-radius: 20px;

}

.card-body li{
  color: rgb(16, 235, 202);
  
}

.card-footer {
  background-color: #232323; 
  
}
.card-img-top{
  background-color: grey;
  border-radius: 10px;
}
.btn-primary {
  background-color: #9d9d9d; 
  color: #232323; 
  border: none;
  font-family: monospace;
  text-align: center; 
}

.btn-primary:hover {
  background-color: #fff; 
  color: #232323; 
}

/*Video Section*/
.video-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  }
  
  #bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  }
  
  .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  color: orange;
  padding: 20px;
  text-align: center;
  font-weight: 800;
  }
  
  .overlay h1{
  text-align: center;
  }
  
  @media (max-width: 768px) {
  .overlay {
  padding: 10px;
  }
  .overlay h1{
  font-size: 36px;
  }
  }
  

  
  
  